extends layout

block content
  h1= title
  
  ul
    - book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); if(textA < textB){return-1}else if(textA > textB){return 1}else{return 0}});
    -//return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}); nice way to do it instead
    each book in book_list
      li 
        a(href=book.url) #{book.title} 
        |  (#{book.author.name})

    else
      li There are no books.