/*Main content */
.col-sm-10{
  display:flex;
  align-content: center;
  flex-direction: column;
  min-height: 600px;
}
.col-sm-10 form{
  padding: 20px;
}
.col-sm-10 h1{
  padding: 10px;

}
.id-heading{
  font-size:4vw;
}
.addNewLink{
  max-width: 400px;
  padding:10px;
  margin-left: 50px;
}
.col-sm-10 li{
padding:10px;
margin-left: 10px;
}
.col-sm-10 li{
margin-left: 20px;
}
.form-control{
max-width:900px;
}
/*Nav tab thats on left */
.mobile-nav{
display:none
}
.col-sm-2{
display:flex;
}
body{
padding: 50px;
font-family: 'Gelasio', serif;
font-size:3vh;}
h1{
font-size:6vw;
}
.sidebar-nav{
list-style-type: none;

}

.sidebar-nav li{
padding:4px  
}
@media screen and (max-width:750px){
.sidebar-nav {
  padding:1px;  

}
.row{
  display:flex;
  justify-content: center;
  flex-direction: column;

}
.col-sm-2{
  display:none;

}
.mobile-nav{
  display:flex;
  align-self: center;
  width:100px;
  height:auto;
}
.mobile-nav img{

}
.sidebar-nav:target{
  display:flex;
}

}

@media screen and (min-width:700px){
.col-sm-2{

display:block;
min-height: 700px;

}
}

