/*not using bootsrap- wanna css it myself  convert it to my own bootsrapped version for another proj  */
/*
body {
  padding: 50px;
  font-family: 'Gelasio', serif;
  font-size:2vh;
  
}
.container-fluid{
  display:flex;
  flex-flow:column;

}

.checkbox-input{
  width:20px;
}















a {
  color: #00B7FF;
}
h1{
  font-size: 3vw;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.col-sm-10{
  display:flex;
  flex-flow:column;
  flex-wrap:wrap;
  margin-left: 10px;
  padding: 20px;
  align-self: center;
}
.row{
  display:flex;
  flex-flow:row;
  flex-wrap:nowrap;
  justify-content: space-evenly;

}
form{
  display:flex;
  flex-direction: column;
  flex-flow: column;
  padding:20px;
}
.form-group{
  display:flex;
  flex-direction: column;
  flex-flow: column;
  padding:10px;
  
}
.checkbox-input{
    padding:20px;

 
}
.form-control{
  padding:10px;
  font-size: 2vw;

}
.btn-primary{
  width:10vw;
  align-self: center;
  height:5vw;
  border:2px solid #00B7FF;
  background-color:#00B7FF;
  border-radius: 5%;
  color:white;
  font-weight: 200;
  font-size:2vw ;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
label{
  display: block;
}
  .btn-primary{
    width:20vw;
    height:10vw;

  font-size:5vw ;
  }
  .form-control{
    padding:10px;
    font-size: 20px;
  
  }
  .row{
flex-flow: wrap;

  }
h1{
  font-size:6vh;
}


@media screen and (min-width: 800px) {
  .btn-primary{
    width:15vw;
    height:7.5vw;

  font-size:4vw ;
  }

}



}
@media screen and (min-width: 1200px) {
  .btn-primary{
    width:6vw;
    height:3vw;
  font-size:1.2vw ;
  }
}
*/
.form-control{
  max-width:900px;
}
body{
  padding: 50px;
  font-family: 'Gelasio', serif;
  font-size:2vh;}
h1{
  font-size:6vw;
}